<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="#" />

    <title>Functions</title>
  </head>
  <body>
    <h1>Node js</h1>
    <p><%= result %></p>
    <h1>Calculo</h1>
    <p><%= result2 %></p>
    <h1>Random Number</h1>
    <p><%= result3 %></p>
    <form method="post" action="/operaciones">
      <h1>Operaciones matematicas</h1>
       <label for=""> ingrese dos numeros</label>
      
         
          <input type="number" name="num1" id="num1" />
          <input type="number" name="num2" id="num2" />
          <button type="submit">enviar</button>
          <br>
   
        <label for="">texto aleatorio</label>
        <input type="number" name="texto" id="texto">
        <button type="submit">enviar</button>

     
    </form>
  </body>
</html>
